<div class="card">
    <div class="card-header">
        Delete Usuarios
    </div>
    <div class="card-body">

        <p class="dos">¿Deseas eliminar el registro {{datosNuevos.id}} - {{datosNuevos.username}} ?</p>
        <div class="dos">
            <button type="button" class=" btn btn-success" (click)="operar()"><i class="fas fa-check"></i></button>
            <button type="button" class=" btn btn-danger" (click)="cerrar()"><i class="fas fa-times"></i></button>
        </div>



    </div>
</div>